.idea
.vscode
venv

experimentos/build
experimentos/__pycache__
experimentos/pagerank_scripts/__pycache__

implementacion/build
implementacion/.idea
implementacion/cmake-build-debug

informe/*.aux
informe/*.fdb_latexmk
informe/*.fls
informe/*.log
informe/*.out
informe/*.synctex.gz
informe/*.toc

*.exe
informe/main.bbl
*.blg
*.bbl
